.root {
    -pastWeekColor: #F1F3F4;
    -thisWeekColor: #E1E3E7;
    -listItem: #cb8d2f;

    -todayColor: #B3CFBD;
    -textWhite: #FFFFFF;
    -textBlack: #000000;

    -buttonColor: #9CC0F8;
    -buttonHover: #669EF6;
    -pastDay: #FFF0C3;

    -weekLabels: #FCE292;

    -sliderBackground: #94D2A6;

    -menuBackground: #F1F3F4;

    -menuHeader: #DBDDE1;

}

* {
    -fx-border-radius: 0px; /* Border radius */
    -fx-background-radius: 0px;
    -fx-alignment: center;
    -fx-background-color: none;
    -fx-padding: 0px;
    -fx-margin: 0px;
    -fx-font-family: "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 12px;
    /*
    -fx-text-fill: derive(-textWhite, 0%); 
    */
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
    
}

.thisWeek {
    -fx-background-color: derive(-thisWeekColor, 0%); 
}

.thisDay {
    -fx-background-color: derive(-todayColor, 0%); 
}

.pastWeek {
    -fx-background-color: derive(-pastWeekColor, 0%); 
}


.weekContainer {
    -fx-pref-height: 90px;
}

.dayContainer {
    -fx-pref-width: 110px;
    -fx-alignment: TOP_CENTER;
    -fx-border-color: derive(-textWhite, 0%); 
    -fx-border-width: 2px; 
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.header {
    -fx-font-size: 15px;
    -fx-font-weight: bold;

}

.button {
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    /*-fx-pref-width: 110px;*/
    -fx-text-fill: derive(-textWhite, 0%);
}

.label {
    -fx-background-color: derive(-buttonColor, 0%); 
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-pref-width: 110px;
}

.hoverClass {
    -fx-background-color: derive(-buttonColor, 0%); 
    -fx-underline: false;
}

.hoverClass:hover {
    -fx-background-color: derive(-buttonHover, 0%); 
    -fx-underline: true;
}

.list-item-container {
    -fx-spacing: 5px;
}

.weekNumberContainer {
    -fx-pref-height: 100px;
    -fx-min-height: 90px;
    -fx-background-color: derive(-buttonColor, 0%); 
    -fx-pref-width: 60px;

}

.weekLabelsColor {
    -fx-background-color: derive(-weekLabels, 0%); 
}

.slider .thumb {
    -fx-border-radius: 15px; /* Border radius */
    -fx-background-radius: 15px;
    -fx-alignment: center;
    -fx-background-color: derive(-buttonColor, 0%);
    -fx-padding: 13px;  
    
    -fx-border: 2px;
    -fx-border-color: derive(-textWhite, 0%);
}

.slider {
    -fx-background-color: derive(-textWhite, 0%);
    -fx-border-color: derive(-buttonColor, 0%);
    -fx-border: 2px;
}

.whiteText {
    -fx-text-fill: derive(-textWhite, 0%);
}

.whiteText .label {
    -fx-text-fill: derive(-textWhite, 0%);

}

.roundedBorder {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.roundedBorderRight, .combo-box {
    -fx-border-radius: 0 5px 5px 0;
    -fx-background-radius: 0 5px 5px 0;
}

.roundedBorderLeft {
    -fx-border-radius: 5px 0 0 5px;
    -fx-background-radius: 5px 0 0 5px;
}

.roundedBorderLeft .label {
    -fx-border-radius: 5px 0 0 5px;
    -fx-background-radius: 5px 0 0 5px;
}

.roundedBorderRight .label {
    -fx-border-radius: 0 5px 5px 0;
    -fx-background-radius: 0 5px 5px 0;
}

.textInput, .combo-box {
    -fx-background-color: derive(-textWhite, 0%); 
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-pref-width: 110px;
    -fx-border-color: derive(-buttonColor, 0%);
    -fx-border: 2px;
}

.menuBackground {
    -fx-background-color: derive(-menuBackground, 0%);
    -fx-padding: 20px;
}

.menuHeader {
    -fx-text-fill: derive(-menuHeader, 0%);
    -fx-font-size: 25px;
    -fx-background-color: none;
    -fx-pref-width: 200px;
}

.combo-box .list-cell {
    -fx-background-color: derive(-textWhite, 0%);
    -fx-text-fill: derive(-textBlack, 0%);
}

.combo-box .arrow-button {

}

.noBackground {
    -fx-background-color: none;
}

.darkText {
    -fx-text-fill: derive(-buttonColor, 0%);
}

.list-assagnee {
    -fx-font-size: 9px;
    -fx-pref-height: 10px;
    -fx-background-color: derive(-textWhite, 0%);
    -fx-underline: true;
}

.list-item {
    -fx-background-color: derive(-textWhite, 0%);
    -fx-padding: 0px;
}
