.root {
    -pastWeekColor: #678193;
    -thisWeekColor: #266d9c;
    -todayColor: #3498db;
    -textWhite: #ffffff;
}

* {
    -fx-border-radius: 0px; /* Border radius */
    -fx-background-radius: 0px;
    -fx-alignment: center;

}

.thisWeek {
    -fx-background-color: derive(-thisWeekColor, 0%); 
}

.pastWeek {
    -fx-background-color: derive(-pastWeekColor, 0%); 
}

