# Kristoffer Osen
Kristoffer Osen <krisose@stud.ntnu.no> Kristoffer Osen <krisose@stud.ntnu.no>      
Kristoffer Osen <krisose@stud.ntnu.no> Kristoffer <krisose@stud.ntnu.no>
Kristoffer Osen <krisose@stud.ntnu.no> Randy <kriosen03@outlook.com>

# Lasse Bærland Strand
Lasse Bærland Strand <lassebs@stud.ntnu.no> Lasse Bærland Strand <lassebs@stud.ntnu.no>

# Christian Stensøe
Christian Stensøe <chstens@stud.ntnu.no> Christian Stensøe <chstens@stud.ntnu.no>

# Sebastian Munthe
Sebastian Munthe <sebasmu@stud.ntnu.no> Sebastian Munthe <sebasmu@stud.ntnu.no>
